* {
  margin: 0;
  padding: 0;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #3FB45B, #007B1E);
  width: 100%;
  height: 225px;
  text-align: center;
  font-size: 30px;
}

.bannertitle {
 color: white;
 padding-top: 35px;
 font-family: "Mulish"
}

.bannersubtitle {
  color: white;
  padding-bottom: 25px;
  font-family: "Mulish"
}

.btn{
  background-color: #282828;
  border: 1px;
  border-style: solid;
  border-color: #2DCC54;
  color: white;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 0 auto;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Mulish";
}

.btn:hover{
 opacity: .7;
}

.bannerimg{
 position: absolute;
 width: 60px;
 height: 60px;
}

.pagetitle{
   font-family: "Mulish";
   font-weight: 400;
   font-size: 50px;
   color: #007B1E;
   padding-top: 30px;
   padding-left: 30px;
}

.pagesubtitle{
  font-family: "Mulish";
  font-weight: 400;
  color: #007B1E;
  padding-left: 30px;
}

.subheader{
  font-family: "Mulish";
  font-weight: 400;
  color: #007B1E;
  padding-top: 40px;
  padding-left: 30px;
  margin-left: 120px;
}

.paragraph{
  font-family: "Mulish";
  font-weight: 400;
  color: #696969;
  font-size: 20px;
  padding-left: 30px;
  line-height: 2;
  margin-left: 120px;
  margin-right: 120px;
  padding-top: 20px;
}

/* only use when by itself, not in paragraphs */
.link{
  font-family: "Mulish";
  font-weight: 400;
  color: #33C407;
  font-size: 20px;
  padding-left: 30px;
  line-height: 2;
  margin-left: 120px;
  margin-right: 120px;
}

.verticalmenu{
  width: 250px;
  font-family: "Mulish";
  font-weight: 800;
  color: white;
  background-color: #196700;
}

.verticalmenu ul{

}
.verticalmenu li{
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* height: 50px; */
  list-style: none;
  background-color: #196700;
}

.verticalmenu li:hover{
  background-color: #509839;
}

.codehighlight{
  background-color: #151515;
  padding-top: 20px;
  /* padding-bottom: 20px; */
  padding-left: 15px;
  padding-bottom: 15px;
  border-color: gray;
  margin-left: 355px;
  width: 450px;
  border-radius: 4px;
}

.functiondef{
  font-family: 'Mulish', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  color: #FFDD25
}

.functionname{
  font-family: 'Mulish', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  color: #FFAF25
}

.misc{
  font-family: 'Mulish', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  color: white;
}

.variables{
  font-family: 'Mulish', sans-serif;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
  color: #6663FF;
}
